version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/" # Location of pom.xml
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    commit-message:
      prefix: "chore"
      include: "scope"
    labels:
      - "dependencies"
      - "auto-update"
    ignore:
      - dependency-name: "org.springframework.boot:spring-boot-starter-parent"
        versions:
          - "2.7.x"
    rebase-strategy: "auto"
